body {
  margin: 5%;
}

div {
  gap: 40px;
}

#navcars {
  color: #0d0d0d;
}

li {
  list-style: none;
}

#Home {
  float: left;
}

#ChevHead {
  font-family: "Fugaz One", sans-serif;
  color: #a69c94;
}
#FordHead {
  font-family: "Fugaz One", sans-serif;
  color: #a69c94;
}
#PontHead {
  font-family: "Fugaz One", sans-serif;
  color: #a69c94;
}
#DodHead {
  font-family: "Fugaz One", sans-serif;
  color: #a69c94;
}
#BuiHead {
  font-family: "Fugaz One", sans-serif;
  color: #a69c94;
}
#OldHead {
  font-family: "Fugaz One", sans-serif;
  color: #a69c94;
}
#PlyHead {
  font-family: "Fugaz One", sans-serif;
  color: #a69c94;
}

p {
  color: #a69c94;
}

h2 {
  color: #a69c94;
}

.card-body {
  background-color: beige;
}

p.card-title {
  color: #a69c94;
}