body {
  body {
    width: auto;
    margin: 5%;
  }
}

div {
  flex-direction: row;
  float: left;
   
  gap: 10px;
}

#navcars {
  display: flex;
  color: blue;
  float: right;
  flex-direction: row;
}

li {
  list-style: none;
  
  
   
}

ul {
  float: left;
}

#Home {
  float: left;
   brown;
}

#navcars ul li {
  float: left;
}

#ChevHead {
  font-family: "Fugaz One", sans-serif;
  color: #A69C94;
}
#FordHead {
  font-family: "Fugaz One", sans-serif;
  color: #A69C94;
}
#PontHead {
  font-family: "Fugaz One", sans-serif;
  color: #A69C94;
}
#DodHead {
  font-family: "Fugaz One", sans-serif;
  color: #A69C94;
}
#BuiHead {
  font-family: "Fugaz One", sans-serif;
  color: #A69C94;
}
#OldHead {
  font-family: "Fugaz One", sans-serif;
  color: #A69C94;
}
#PlyHead {
  font-family: "Fugaz One", sans-serif;
  color: #A69C94;
}



p {
  color: #A69C94;
  float: left;
}

h2 {
  color: #A69C94;
  
}



div  {
  display: flex;
  float: left;
  padding: 30px;
  
}

