body {
    body {
  width: auto;
  margin: 5%;
}

}


div {
  flex-direction: column;
  width: 20%;
  float: left;
  margin: 10px;
  padding: 10px;
  background-color: brown;
  
}

#navcars {

display: flex;
color: blue;
float: left;
}

li {
    list-style: none;
    float: right;
    justify-content: space-between;
    margin: 10px;

    

}

#Home {
  float: left;
  background-color: brown;
  
}

#Tunelist {
  float: left;
}

#HonHead {
  font-family: 'Fugaz One', sans-serif;
}

#ToyHead{
font-family: 'Fugaz One', sans-serif;
}

#NisHead {
font-family: 'Fugaz One', sans-serif;
}

#MazHead {
font-family: 'Fugaz One', sans-serif;
}

#KiaHead{
font-family: 'Fugaz One', sans-serif;
}

#BMWHead {
font-family: 'Fugaz One', sans-serif;
}

#DodHead {
font-family: 'Fugaz One', sans-serif;
}

#FordHead {
font-family: 'Fugaz One', sans-serif;
}